@using WebSphere.WebUI.Helpers;

@{
    HtmlHelper.ClientValidationEnabled = false;
}

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title>@ViewBag.Title</title>
    <link href="~/Content/images/favicon.ico" rel="shortcut icon" type="image/x-icon" />
    <link href="~/Content/reset.css" rel="stylesheet" />
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/bootstrap-theme.min.css" rel="stylesheet" />
    <link href="~/Content/style.css" rel="stylesheet" />
    <script src="~/Scripts/jquery-1.10.2.min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/script.js"></script>
    <script src="~/Scripts/_JS/AdditionalFunctions.js"></script>
</head>
<body style="background-color: #ccc;">

    <div id="id_page_load">
        <div class="div_page_load">
            <div class="div_load_img">
                <img src="~/Content/images/loadpage.gif">
            </div>
            <div class="div_load_msg">Обработка. Пожалуйста, подождите...</div>
            <div class="clear displayN"></div>
        </div>
        <div class="clear displayN"></div>
    </div>

    <input type="hidden" id="id_user" value="admin">

    <div class="container-fluid">

        <div class="head-box">
            <div class="head-right">

                <div class="head-logo">

                    <div class="head-top-right">

                        <div class="head-logo-img"></div>

                        <div class="head-top-left">

                            <ul class="Link_hui font12 noUnderl">
                                <li class="@Html.IsSelected(actions: "Mnemo", controllers: "Mnemo", param: "Main") borderR nowrap">
                                    @Html.ActionLink("Главная", "Mnemo", "Mnemo", new { mnemo = "Main" }, null)
                                    <span class="sep"></span>
                                </li> 

                                <li class="@Html.IsSelected(actions: "MnemoObj", controllers: "Mnemo", param: "zd_shkapovo,Задвижка №1") borderR nowrap ">
                                    @Html.ActionLink("Задвижка №1", "MnemoObj", "Mnemo", new { mnemo = "zd_chegodaevo", objname = "UZA1" }, null)
                                    <span class="sep"></span>
                                </li>

                                <li class="@Html.IsSelected(actions: "MnemoObj", controllers: "Mnemo", param: "zd_shkapovo,Задвижка №12") borderR nowrap">
                                    @Html.ActionLink("Задвижка №12", "MnemoObj", "Mnemo", new { mnemo = "zd_chegodaevo", objname = "UZA12" }, null)
                                    <span class="sep"></span>
                                </li> 

                                <li class="@Html.IsSelected(actions: "Trends", controllers: "Trends", param: "2") borderR nowrap">
                                    @Html.ActionLink("Тренды", "Trends", "Trends", new { id = 2 }, null)
                                    <span class="sep"></span>
                                </li>

                                <li class="@Html.IsSelected(actions: "Alarms", controllers: "Alarms") borderR nowrap">
                                    @Html.ActionLink("Тревоги", "Alarms", "Alarms")
                                    <span class="sep"></span>
                                </li>

                                <li class="@Html.IsSelected(actions: "Events", controllers: "Alarms") borderR nowrap">
                                    @Html.ActionLink("События", "Events", "Alarms")
                                    <span class="sep"></span>
                                </li> 
                                  <li class="@Html.IsSelected(actions: "Reports", controllers: "Reports") borderR nowrap head-top-left-r">
                                        @Html.ActionLink("Журналы", "Reports", "Reports")
                                    </li>
                                
                            </ul>

                        </div>

                        <div class="head-top-right-t">
                            <ul class="Link_hui font12 noUnderl">
                                <li class="head-welcome-info">
                                    <span class="glyphicon glyphicon-user icon"></span>
                                    <strong>
                                        @if (Request.IsAuthenticated)
                                        {
                                            @Html.Encode(User.Identity.Name)
                                        }
                                        else
                                        {
                                            <span>Guest</span>
                                        }
                                    </strong>
                                    <span class="sep"></span>
                                </li>
								
                                       
                                @*
                                    <li class="@Html.IsSelected(actions: "Index", controllers: "Configurator")">
                                        @Html.ActionLink("Конфигуратор", "Index", "Configurator")
                                    </li>
                                *@
                                <li class="@Html.IsSelected(actions: "Index", controllers: "Account")">
                                    <span class="glyphicon glyphicon-cog icon"></span>
                                    @Html.ActionLink("Система", "Index", "Account")
                                    <span class="sep"></span>
                                </li>
                                <li class="@Html.IsSelected(actions: "Index", controllers: "Information")">
                                    <span class="glyphicon glyphicon-info-sign icon"></span>
                                    @Html.ActionLink("Справка", "Index", "Information")
                                    <span class="sep"></span>
                                </li>
                                <li>
                                    <span class="glyphicon glyphicon-off icon"></span>
                                    @if (Request.IsAuthenticated)
                                    {
                                        @Html.ActionLink("Выйти", "Logout", "Account")
                                    }
                                </li>
                            </ul>
                        </div>

                    </div>

                </div>

            </div>
        </div>

        <div class="tab-body">
            <div class="tabs-out-box">
                <ul id="id_app_menu" class="Link_tabs font12 noUnderl">

                    @{  // текущий контроллер
                        var controller = @HttpContext.Current.Request.RequestContext.RouteData.Values["controller"].ToString();
                    }

                    @if (controller.ToLower() == "contenttype")
                    {
                        // если это контроллер 'ContenttType', то для него свое меню

                        <li class="@Html.IsSelected(actions: "Index", controllers: "ContentType") tabs_li tabs_contant">
                            <div class="tbac">
                                @Html.ActionLink("Тип контента", "Index", "ContentType")
                            </div>
                        </li>
                            <li class="@Html.IsSelected(actions: "Group", controllers: "ContentType") tabs_li tabs_contant">
                                <div class="tbac">
                                    @Html.ActionLink("Группа контента", "Group", "ContentType")
                                </div>
                            </li>
                    }
                    else if (controller.ToLower() == "account" || controller.ToLower() == "group" || controller.ToLower() == "configurator" || controller.ToLower() == "contenttype")
                    {
                        <li class="@Html.IsSelected(actions: "Index", controllers: "Group") tabs_li tabs_contant">
                            <div class="tbac">
                                @Html.ActionLink("Группа", "Index", "Group")
                            </div>
                        </li>
                        <li class="@Html.IsSelected(actions: "Index", controllers: "Account") tabs_li tabs_contant">
                            <div class="tbac">
                                @Html.ActionLink("Пользователь", "Index", "Account")
                            </div>
                        </li>
                        <li class="@Html.IsSelected(actions: "Index", controllers: "Configurator") tabs_li tabs_contant">
                            <div class="tbac">
                                @Html.ActionLink("Конфигуратор сигналов", "Index", "Configurator")
                            </div>
                        </li>
<!--                         <li class="@Html.IsSelected(actions: "Index", controllers: "ContentType") tabs_li tabs_contant">
                            <div class="tbac">
                                @Html.ActionLink("Контент", "Index", "ContentType")
                            </div>
                        </li>

                        <li class="@Html.IsSelected(actions: "Mnemo", controllers: "Mnemo", param: "diag") tabs_li tabs_contan">
                            <div class="tbac">
                                @Html.ActionLink("Диагностика связи", "Mnemo", "Mnemo", new { mnemo = "diag" }, null)
                            </div> 
</li> -->
                    }

                </ul>
            </div>
        </div>

        <div class="left-box">
            <div class="left-top">
                <span class="left-time"></span>
            </div>
        </div>
        <div class="right-box">
            <div id="id_first_content" class="hide">

            </div>
        </div>

        <div class="content">
            @RenderBody()

        </div>
		 

        @if (controller.ToLower() == "mnemo")
        {
		<div id='mess_div' class="row div_events" style="top: 70%; overflow:hidden;left: 15px;">
			<h4>
				<input type="button" class="btn btn-default" style="width 100%;" value="Квитировать все" onclick="kvitirovanie_all()" />
			</h4>
			<table style='margin-bottom:0px;' id='lastalarms_table'></table>
		</div>
		}
    </div>

</body>
</html>


<div id="AlertMenu" style="display: none; overflow-y: auto; position: absolute; left: 30%; top: 30%; width: 40%; height: 20%; ">
    <div class="alert-danger" style="padding:15px;border:1px solid transparent;border-radius:4px;">
        <span class="glyphicon glyphicon-warning-sign icon" style="color: red;"></span>
        <a href="#" onclick="AckAll()" style=" float:right; font-weight:700; color:#000; text-shadow:0 1px 0 #fff; filter:alpha(opacity=20);" data-dismiss="alert" aria-label="close">Квитировать все</a>
        <strong>Внимание! Обнаружена тревога!</strong>
    </div>
</div>

<audio type="text" id="audiofile" size="80" src="~/Content/Sound2.mp3"></audio>
<script>

    var GM_OPC_TAGS = new Array();

    /* REQUEST OPC UPDATE */
    var GM_OPC_VALS;
    setInterval(function () {RequestSoundAlarm();}, 2000);
     function RequestSoundAlarm() {

        $.ajax({ type: "POST", url: "/Alarms/SoundAlarm", async: true, success: set_alert });

    }
    /* END */
      var currentFile = "";
    function playAudio(data) {
         var cmd = false;
        if (data)  cmd = true;
        // Check for audio element support.
        if (window.HTMLAudioElement) {
            try {
                var oAudio = document.getElementById('audiofile');
                if ((oAudio.paused||oAudio.ended) && cmd) {
                    oAudio.play();
                }
                else if (!oAudio.paused && !cmd) {
                    oAudio.pause();
                }
            }
            catch (e) {
                if (window.console && console.error("Error:" + e));
            }
        }
    }

    function getCookie(name) {
    var matches = document.cookie.match(new RegExp(
          "(?:^|; )" + name.replace(/([\.$?*|{}\(\)\[\]\\\/\+^])/g, '\\$1') + "=([^;]*)"
        ));
        return matches ? decodeURIComponent(matches[1]) : undefined;
    }
    function setCookie(name, value, options) {
        options = options || {};

        var expires = options.expires;

        if (typeof expires == "number" && expires) {
            var d = new Date();
            d.setTime(d.getTime() + expires * 1000);
            expires = options.expires = d;
        }
        if (expires && expires.toUTCString) {
            options.expires = expires.toUTCString();
        }

        value = encodeURIComponent(value);

        var updatedCookie = name + "=" + value;

        for (var propName in options) {
            updatedCookie += "; " + propName;
            var propValue = options[propName];
            if (propValue !== true) {
                updatedCookie += "=" + propValue;
            }
        }

        document.cookie = updatedCookie;
    }
    $('#hideAlert').click(function () { set_alert(); return false; });
    check_alert();
    function check_alert()
    {
        var result = getCookie('alertwindos');
    }
    function set_alert(data) {
        var element = document.getElementById("AlertMenu");

        if (0 < data.length) {
            //playAudio(true);
             ElVis("AlertMenu", true);
             for (i = 0; i < data.length; i++) {
                 var z = element.getElementsByClassName("AlertAlarm_" + data[i].Id);
                 if (z.length != 0) continue;
                 div = document.createElement('div');
                 div.id = "AlertAlarm_" + data[i].Id;
                 div.className = "alert-danger AlertAlarm_" + data[i].Id;
                 div.style = "padding: 15px;border: 1px solid transparent;border-radius: 4px;"
                 div.innerHTML +=
                     "<span class=\"glyphicon glyphicon-warning-sign icon\" style=\"color: red;\"></span> " +
                     "<a href=\"#\" onclick=\"Ack(" + data[i].Id + "); return false;\"  style=\"float: right;font-weight: 700;color: #000;text-shadow: 0 1px 0 #fff;filter: alpha(opacity=20); \" data-dismiss=\"alert\" aria-label=\"close\">Квитировать</a>" +
                     "<strong>Внимание!  " + data[i].Message + ". </strong>";
                 document.getElementById("AlertMenu").appendChild(div);
             }
        }
        else { playAudio(false); ElVis("AlertMenu", false); }
    }
    function Ack(id) {

        var element = document.getElementById("AlertAlarm_" +id);
        element.parentNode.removeChild(element);
        $.ajax({
            type: "POST", url: '@Url.Action("SetAlarmAck", "Alarms")?id=' + id, async: true, success: AckGood, error: AckFalse
        });
        }
    function AckAll() {
        ElVis("AlertMenu", false);

        $.ajax({
            type: "POST", url: '@Url.Action("SetAlarmAckAll", "Alarms")', async: true, success: AckGood, error: AckFalse
        });
    }
    function AckGood(data)
    {
        if (data)
            OkMessage("Тревога квитирована");
        else
        ErrMessage("Тревога не квитирована");
    }
   function AckFalse()
   {
           ErrMessage("Ошибка!Тревога не квитирована");
   }
   
   
    $(function () {
	var myElem = document.getElementById('mess_div');
if (myElem === null) {}else{
         $('#lastalarms_table').jqGrid({
             caption: "",
             datatype: 'local',
             colNames: ['id', 'tag', 'ack', 'active', 'Тип', 'Начало события', 'Время начала', 'Конец события', 'Тревога', 'Время окончания', 'Время квитирования', "Длительность"],
             colModel: [{ name: 'Id', index: 'Id', hidden: true },
                 { name: 'Tag', index: 'Tag', hidden: true },
                 { name: 'Ack', index: 'Ack', hidden: true },
                 { name: 'Active', index: 'Active', hidden: true },
                 { name: 'Type', index: 'Type', hidden: true, width: '40%', sortable: false, classes: 'lambda_zam_col' },
                 { name: 'StartReason', index: 'StartReason', width: '150%', sortable: false, classes: 'lambda_zam_col', },
                 {
                     name: 'StartTime', index: 'StartTime', width: '40%', sortable: true, classes: 'lambda_zam_col',
                     sorttype: 'datetime', formatter: "date", formatoptions: { srcformat: "Y-m-d H:i:s", newformat: "d.m.Y  H:i:s" }
                 },
                 { name: 'EndReason', index: 'EndReason', hidden: true, width: '150%', sortable: false, classes: 'lambda_zam_col', },
                 { name: 'Message', index: 'Message', width: '150%', sortable: false, classes: 'lambda_zam_col', hidden: true },
                 {
                     name: 'EndTime', index: 'EndTime', hidden: true, width: '40%', align: 'center', sortable: true, sorttype: 'date',
                     formatter: "date", formatoptions: { srcformat: "Y-m-d H:i:s", newformat: "d.m.Y  H:i:s" }, classes: 'lambda_zam_col',
                 },
                 {
                     name: 'AckTime', index: 'AckTime', hidden: true, width: '40%', align: 'center', sortable: true, sorttype: 'date', classes: 'lambda_zam_col',
                     formatter: "date", formatoptions: { srcformat: "Y-m-d H:i:s", newformat: "d.m.Y  H:i:s" },
                 },
                 { name: 'Duration', index: 'Duration', hidden: true, width: '40%', sortable: false, classes: 'lambda_zam_col' }

             ],

             viewrecords: true,
             height: '100%',
             width: '900px',
             scroll: true,
             sortname: ' StartTime',
             sortorder: "asc",
             rowattr: function (rd) {
                 //Раскрашиваем алармы
                 //if (rd.Tag.indexOf("Work") > -1 && rd.Ack == false && rd.Active == true) { return { "class": "well_nekvit_activ" }; }
                 //else if (rd.Tag.indexOf("Work") > -1 && rd.Ack == true && rd.Active == true) { return { "class": "well_kvit_activ" }; }

                 //else if (rd.Ack == false && rd.Active == true) { return { "class": "zam_nekvit_activ" }; }
                 //else if (rd.Ack == true && rd.Active == true) { return { "class": "zam_kvit_activ" }; }
                 //else { return { "class": "zam_nekvit_neactiv" }; }

                 // if (rd.StartReason.indexOf("предельный") > -1 && rd.Ack == false && rd.Active == true) { return { "class": "alarm_pred" }; }
                 // else if (rd.StartReason.indexOf("критический") > -1 && rd.Ack == false && rd.Active == true) { return { "class": "alarm_krit" }; }
                 //
                 // else if (rd.Ack == true && rd.Active == true) { return { "class": "zam_kvit_activ" }; }
                 // else { return { "class": "zam_nekvit_neactiv" }; }
                 if (rd.Ack == true && (rd.Active == false || rd.Active == 0)) { return { "class": "zam_kvit_activ" }; }
                else if ((rd.StartReason == -1 || rd.StartReason == 1) && rd.Ack == false && (rd.Active == true || rd.Active == 1)) { return { "class": "alarm_pred" }; }
                 else if ((rd.StartReason == -2 || rd.StartReason == 2) && rd.Ack == false && (rd.Active == true || rd.Active == 1)) { return { "class": "alarm_krit" }; }

                 else if (rd.Ack == true && (rd.Active == true || rd.Active == 1)) { return { "class": "zam_kvit_activ" }; }
                 else { return { "class": "zam_nekvit_neactiv" }; }

             }
         });

         var lastalarmsW = document.getElementById('mess_div').offsetWidth;
         var lastalarmsH = document.getElementById('mess_div').offsetHeight;
         $("#lastalarms_table").setGridWidth(lastalarmsW );
         $("#lastalarms_table").setGridHeight(lastalarmsH - 80);
}
         //Квитирование по двойному клику
         $("#lastalarms_table").jqGrid('setGridParam', {
             ondblClickRow: function (rowid, iRow, iCol, e) {
                 var rowData = jQuery(this).getRowData(rowid);
                 var id = rowData['Id'];
                 var tag = rowData['Tag'];
                 var ack = rowData['Ack'];
                 var active = rowData['Active'];
                 if (!ParseToBool(ack) || ack < 1)
                     kvitirovanie(rowid, id, tag, ack, active);
                 else
                     ErrMessage("Уже квитировано");
             }
         });

     });


        function errkvit() {
            ErrMessage("Не квитировано");
        }
        function getlastalarms() {

            LoadPageOn();
            //читаем алармы
            $.ajax({ type: "POST", url: "/Alarms/GetCurrentAlarmsEvents", data: {  }, async: true, success: page_drawAlarms, error: page_nodraw });
        }
		
		var myElem = document.getElementById('mess_div');
if (myElem === null) {}else{
        getlastalarms(@Html.Raw(ViewBag.id));
		setInterval('getlastalarms()',30000);
}

		
        function page_nodraw(data) {
            ErrMessage("Не удалось обновить события");
            LoadPageOff();
        }
        function page_drawAlarms(data) {
            //рисуем алармы
            var scrollPosition;
            scrollPosition = jQuery("#lastalarms_table").closest(".ui-jqgrid-bdiv").scrollTop();
            $("#lastalarms_table").jqGrid('clearGridData');
            var countmess = data.length;
            //  $("#lastalarms_table").setGridParam({ data: data });

            for (var i = data.length - 1; i >= 0 ; i--) {
                if (data[i].Ack == true || data[i].Ack>=1)  data[i].Ack = true;
                else data[i].Ack = false;
                if (data[i].Active == true || data[i].Active == 1)  data[i].Active = true;
                else data[i].Active = false;
                if (data[i].Active == false ) { data[i].Message = 'Была тревога: ' + data[i].Message; }
                if (data[i].Active == true ) { data[i].EndTime = ''; }
                if (data[i].Ack == false) { data[i].AckTime = ''; }

                if (data[i].Ack >= 1 && data[i].Active == false) { data[i].Type = ''; }
               else { data[i].Type = '1'; }
                $('#lastalarms_table').jqGrid('addRowData', data[i].Id,
                {
                    Id: data[i].Id,
                    StartReason: data[i].StartReason,
                    Type: data[i].Type,
                    EndReason: data[i].EndReason,
                    Message: data[i].Message,
                    StartTime: data[i].StartTime,
                    EndTime: data[i].EndTime,
                    Ack: data[i].Ack,
                    AckTime: data[i].AckTime,
                    Active: data[i].Active,
                    Duration: data[i].Duration
                });

                /*  if (data[i].Ack == false && data[i].Active == true)
                      $('#lastalarms_table').jqGrid('setRowData', data[i].Id, false, "zam_nekvit_activ");
                  else if (data[i].Ack == true && data[i].Active == true)
                      $('#lastalarms_table').jqGrid('setRowData', data[i].Id, false, "zam_kvit_activ");
                  else
                      $('#lastalarms_table').jqGrid('setRowData', data[i].Id, false, "zam_nekvit_neactiv");
              */}

            // $("#lastalarms_table").setGridParam({ rowNum: countmess }).trigger("reloadGrid");

            jQuery("#lastalarms_table").closest(".ui-jqgrid-bdiv").scrollTop(scrollPosition);
            LoadPageOff();
        }
        function kvitirovanie(rowid, id, tag, ack, active) {
            //if (!ack)
            //$.ajax({ type: "POST", url: '@Url.Action("SetAlarmAck", "Alarms")?id=' + id, async: true, success: getlastalarms, error: errkvit });


            //  $.ajax({
            //      type: "POST", url: "/api/Alarms/CheckPermission", data: { a: PERMISSION_RIGHT_Kvit }, async: false,
            //      success: function (_data) { data = _data; }
            //  });
            //  var kvit = data;
            //if (kvit) {
            if (active == 'true') {
                //getlastalarms();
                $.ajax({ type: "POST", url: "/Alarms/SetAlarmAck", data: { Tag: tag, Id: id }, async: true, success: getlastalarms });
            }
            else {
                $.ajax({ type: "POST", url: "/Alarms/SetAlarmAck", data: { Tag: tag, Id: id }, async: true });
                $('#lastalarms_table').delRowData(rowid);
                getlastalarms();
            }
            // } else ErrMessage("Нет прав на квитирование");
        }
        function kvitirovanie_all() {

            $.ajax({ type: "POST", url: '@Url.Action("SetAlarmAckAll", "Alarms")', async: true, success: getlastalarms, error: getlastalarms });
            //$.ajax({
            //    type: "POST", url: "/api/Alarms/CheckPermission", data: { a: PERMISSION_RIGHT_Kvit }, async: false,
            //    success: function (_data) { data = _data; }
            //});
            //var kvit = data;
            //if (kvit) {
            //    $.ajax({ type: "POST", url: "/api/Alarms/KvitAll", data: {}, async: true, success: getlastalarms });
            //
            //} else ErrMessage("Нет прав на квитирование");

        }
</script>